.venv/
.venvs/
__pycache__/
alphapose
animating
human_body_prior
hybrik
smplifyx
text2animation
trackers
video2animation/*
!video2animation/*_alphapose.py
!video2animation/*_mediapipe.py
building-3d-signlang-database.py
building-temp-posedata.py
env.py
main.py
model.h5
requirements.txt
data/
detector/
model_files/
models/
pretrained_models/
pytorch3d/
res/
model.h5/
*.mp4

